button {
  padding: 2px 4px;
  background-color: transparent;
  border: transparent;
  line-height: 100%;
  margin: 0 0 15px 0;
}

button:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

button.cancel{
  color: white;
  background: transparent;
  border: transparent;
}

button.cancel:hover{
  background: #544d5f;
}

.story-container{
  margin: 7px 5px;
  clear: both;
  border-bottom: solid 2px white;
  padding-bottom: 35px;
}
