<button md-icon-button [mdMenuTriggerFor]="appMenu" (click)="adjustment()">︎
  <md-icon fontSet="fa" fontIcon="fa-ellipsis-v"></md-icon>
</button>

<md-menu #appMenu="mdMenu">
  <div class="story-container" *ngFor="let story of stories; let i = index">
    順位 : {{i+1}}<br>
    編集見出し : {{story?.title}} <br>
    公開開始日時 : {{story?.nominal_date | date:'MM年dd月 HH時mm分'}}<br>
    CP :
    <span *ngFor="let provider of story?.providers">{{provider.name}}<br></span>
    <button class="btn btn-default float-right cancel" (click)="onClickCancel($event, story)">
      <i class="fa fa-trash-o fa-2x"> </i>
    </button>
  </div>
</md-menu>

<app-toaster></app-toaster>
