<div class="row">
  <div class="col-sm-12 col-md-12 header">
    <a class="main-title">BINGO!!!</a>
    <app-result-modal class="extracted-numbers-button" [alreadies]="alreadies"></app-result-modal>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-block main-card">
          <div class="bingo-card-img bingo-{{item}}"
               [ngStyle]="{'animation-delay': i * 500 + 'ms'}"
               *ngFor="let item of items;let i = index"
               (animationend)="animationEnd($event)"
               [ngClass]="{'target-image': items.length === (i + 1)}"
          >
            <img class="bingo-{{item}}" src="../../../assets/img/bingo_material/{{item}}.jpg">
            <div class="no">{{item}}</div>
          </div>
          <div class="bingo-frame-wrapper">
            <img src="../../../assets/img/bingo_frame.png">
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
<div class="buttons">
  <button class="btn btn-danger btn-ladda start" [ngStyle]="{'display': is_animation_end ? 'none' : 'block'}"
          [ladda]="in_transaction" (click)="clickStart()">
    S T A R T ！
  </button>
  <button class="btn btn-success confirm" [ngStyle]="{'display': is_animation_end ? 'block' : 'none'}" (click)="clickConfirm()">
    N E X T ! !
  </button>

  <button class="btn btn-warning beginning-button" (click)="clickBeginning()">
    Beginning！
  </button>
</div>