select{
  height:25px !important;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  color: #374767;
}

label{
  line-height:25px;
  font-size: 12px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
