<div>

  <app-header></app-header>

  <div class="container">

    <div class="bg-faded p-4 my-4">
      <!-- Image Carousel -->
      <div id="topCarousel" class="carousel slide"
           data-ride="carousel" data-interval="7000" data-wrap="true" data-pause="hover"
      >
        <ol class="carousel-indicators">
          <ng-container *ngFor="let slider_item of slider_items; let i = index; let first = first">
            <li data-target="#topCarousel" [attr.data-slide-to]="i" [attr.data-url]="slider_item.url"
                [ngClass]="{ 'active': first }"></li>
          </ng-container>
        </ol>

      <!-- slider部分 -->
      <div class="carousel-inner carousel-image-area" role="listbox">
        <div class="carousel-item"
             *ngFor="let slider_item of slider_items; let first = first;"
             [ngClass]="{ 'active': first }"
        >
          <img class="d-block img-fluid w-100" src="{{ slider_item.img_path }}" />
          <div class="carousel-caption d-none d-md-block"></div>
          <div class="carousel-caption-content">
            <h3 class="text-shadow title">{{ slider_item.title }}</h3><br>
            <p class="text-shadow description">{{ slider_item.description }}</p>
          </div>

          <div class="carousel-caption-content_sp">
            <h3 class="text-shadow title">{{ slider_item.title }}</h3>
          </div>
        </div>

        <a class="carousel-control-prev" href="#topCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#topCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <div class="black-filler">
          <a>詳しく見る</a>
        </div>
      </div>
      <!-- slider部分 終了 -->

      <!-- Welcome Message -->
      <div class="text-center mt-4 welcome-message">
        <!--<div class="text-heading text-muted text-lg">Welcome To</div>-->
        <!--<h1 class="my-2">おすすめのゲーム</h1>-->
        <div class="text-heading text-muted text-lg">
          <strong>hot games of eventya</strong>
        </div>
      </div>
    </div>

    <!-- 記事部分 -->
    <div class="article-panel bg-faded p-4 my-4" *ngFor="let article of article_items;">
      <hr class="divider">
      <h2 class="text-center text-lg text-uppercase my-0" [innerHtml]="article.title">{{article.title}}</h2>
      <hr class="divider">
      <img class="img-fluid float-left mr-4 d-none d-lg-block" src="../../../assets/img/businessCasual/intro-pic.jpg" alt="">
      <p [innerHtml]="article.body"></p>
    </div>

    <div class="bg-faded p-4 my-4">
      <hr class="divider">
      <h2 class="text-center text-lg text-uppercase my-0">Beautiful boxes to
        <strong>showcase your content</strong>
      </h2>
      <hr class="divider">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur perspiciatis reprehenderit illo et vitae iste provident debitis quos corporis saepe deserunt ad, officia, minima natus molestias assumenda nisi velit?</p>
    </div>
    <!-- 記事部分 終了 -->

  </div>
  <!-- /.container -->

  <app-footer></app-footer>

</div>
