<td [ngClass]="{'is_repair': story?.alerts?.is_repair?.status == registryService.status.LIVE}"><!-- 直し、没のフラグ -->
  <!--直しありでbackground-colorを変更する-->
</td>
<td class="center"><!-- ジャンル -->
  <a *ngFor="let channel of story?.channels">
    {{channel.name}}
  </a>
</td>
<td class="thumbnail"><!-- サムネイル -->
  <img src="{{story?.thumbnail_path}}">
</td>
<td><!-- タイトル -->
  {{story?.title}}
</td>
<td><!-- 編成見出し -->
  {{story?.short_title1}}
</td>
<td><!-- CP -->
  <a *ngFor="let provider of story?.providers">
    {{provider.name}}
  </a>
</td>
<td><!-- 日時 -->
  {{story?.created_at | date:"MM/dd HH:mm"}}<br><!-- 入稿 -->
  {{story?.nominal_date | date:"MM/dd HH:mm"}}<br><!-- 公開-->
  {{story?.updated_at | date:"MM/dd HH:mm"}}<!-- 更新-->
</td>
<td><!-- トピ・殿堂・タブ掲載情報 -->
  {{zeroOrValue(story?.alerts?.posted_at_topics?.duration)}}min<br><!-- トピ掲載時間 -->
  {{zeroOrValue(story?.alerts?.posted_at_palace?.duration)}}min<br><!-- 殿堂掲載時間 -->
  {{zeroOrValue(story?.alerts?.posted_at_tab?.duration)}}min<!-- タブ掲載時間 -->

</td>
<td class="center"><!-- 状態 -->
  <i *ngIf="story?.alerts?.is_related_links?.duration == 1" class="fa fa-link fa-1x"></i>
</td>
<td dnd-draggable [dragData]="story"
    [dropZones]="['edit-zone']" class="storylist-record-{{story.id}} center draggable-style">
</td>
