.container {
  position: relative;
}

#reload_storylist{
  position: absolute;
  top: 8px;
  right: 10px;
}

.flag{
  width: 1%;
}
.channel{
  width: 8%;
}
.thumbnail{
  width: 6%;
}
.title{
  width: 23%;
}
.edit_title{
  width: 23%;
}
.credit{
  width: 8%;
}
.dates{
  width: 15%;
}
.published{
  width: 10%;
}
.status{
  width: 3%;
}
.grabbable {
  width: 3%;
}

.center, .center th{
  text-align: center;
}

th{
  vertical-align: middle;
}

thead th{
  vertical-align: middle;
}

thead tr th{
  line-height: 15px;
  padding:2px 0;
}

.sk-fading-circle {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.sk-circle {
  margin: 0;
}
.sk-circle:before{
  background: #20a8d8;
}

.loading {
  height:     100%;
  width:      100%;
  background: rgba(0, 0, 0, 0.3);
  position:   absolute;
  top:        0;
}

.loading .loading_animation {
  width:    50%;
  position: absolute;
  left:     25%;
  top:      200px;
  height:   100%;
}

.card-block {
  padding: 0;
}

/*.card-header {*/
  /*text-align:    center;*/
  /*background:    transparent;*/
  /*border:        transparent;*/
  /*color:         white;*/
  /*font-size:     40px;*/
  /*padding:       0;*/
  /*position:      absolute;*/
  /*left:          25%;*/
  /*margin-top:    -105px;*/
  /*margin-bottom: 0;*/
  /*width:         50%;*/
/*}*/
