img{
  width: 100%;
}

.clear{
  background: transparent;
  border: solid 0 transparent;
}

.center{
  text-align: center;
}

.md-menu{
  background: black;
  opacity: 0.5;
}

.save-button{
  position: fixed;
  bottom: 50px;
  right:  30px;
}

.position-top{
}

.position-palace{
  background: #36d0a2 !important;
}

.position-reserve{
  background: #7b8989 !important;
}


th{
  background:     #20a8d8;
  color:          white;
  height:         60px;
}
th, td{
  padding:        0;
  overflow:       hidden;
  word-break:     break-all;
  text-align:     center;
  vertical-align: middle !important;
}
td.index,     th.index     { width:  5% }
td.flag,      th.flag      { width:  1% }
td.channel,   th.channel   { width: 10% }
td.thumbnail, th.thumbnail { width: 10% }
td.story,     th.story     { width: 42% }
td.times,     th.times     { width: 20% }
td.status,    th.status    { width:  6% }
td.booking,   th.booking   { width:  6% }

.sk-circle {
  width:  100px;
  height: 100px;
  opacity: 0.8;
}
.sk-circle .sk-child:before{
  background: #20a8d8;
}

.loading.active {
  display:    block;
  height:     100%;
  width:      100%;
  position:   absolute;
  top: 200px;
}

.card-block {
  padding: 0;
}

.card-header {
  text-align:    center;
  background:    transparent;
  border:        transparent;
  color:         white;
  font-size:     40px;
  padding:       0;
  position:      absolute;
  left:          25%;
  margin-top:    -105px;
  margin-bottom: 0;
  width:         50%;
}

.sk-cube-grid {
  margin-bottom: 0;
  margin-top:    0;
  height:        150px;
  width:         150px;
}

.sk-cube {
  background: #20a8d8;
  opacity:    0.8;
}

.panel-body {
  position: relative;
}
