<div class="row">
  <div class="col-md-12">
    <div class="panel panel-warning" *ngIf="is_active">
      <div class="panel-body">
        <div dnd-sortable-container [sortableData]="organization_list" [dropZones]="['delete-dropZone']">
          <table class="table table-bordered" dnd-droppable (onDropSuccess)="addTo($event)" [dropZones]="['edit-zone']">
            <thead>
            <tr>
              <th *ngFor="let header of headers" class="{{header?.label}}">{{header?.name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let story of organization_list; let i = index" class="parts-list-item"
                [sh-context]="contextMenuItems"
                [sh-data-context]="{'story' : story, 'index' : i, 'channel_name' : channel.administration_name}"
                [ngClass]="{'is_dead': story?.status == registryService.status.DELETED}"
            >
              <!-- 順位 -->
              <td class="bg-primary position-{{story?.position_type}} index center" dnd-sortable [sortableIndex]="i"
                  (onDragStart)="onSortStart()" (onDragEnd)="onSortEnd()">
                {{i+1}}
              </td>

              <!-- フラグ（直しあり） -->
              <td [ngClass]="{'is_repair': story?.alerts?.is_repair?.status == registryService.status.LIVE}" class="clear flag"></td>

              <!-- チャネル -->
              <td class="center channel">
                <a *ngFor="let channel of story?.channels">
                  {{channel.name}}
                </a>
              </td>

              <!-- サムネイル -->
              <td class="thumbnail">
                <img src="{{story?.thumbnail_path}}">
              </td>

              <!-- 記事 公開日時 CP -->
              <td class="isLineFeed story">
                {{story?.title}}<br>
                {{story?.created_at | date:'MM/dd HH:mm'}} {{story?.provider}}
                <app-story-detail-modal [story]="story" class="detail"></app-story-detail-modal>
              </td>

              <!-- トピ・殿堂・タブ　掲載時間 -->
              <td class="left isLineFeed times">
                {{zeroOrValue(story?.alerts?.posted_at_topics?.duration)}}min<br><!-- トピ掲載時間 -->
                {{zeroOrValue(story?.alerts?.posted_at_palace?.duration)}}min<br><!-- 殿堂掲載時間 -->
                {{zeroOrValue(story?.alerts?.posted_at_tab?.duration)}}min<!-- タブ掲載時間 -->
              </td>

              <!-- 状態 -->
              <td class="text-primary status">
                <i *ngIf="story?.alerts?.is_related_links?.duration == 1" class="fa fa-link fa-1x"></i>
              </td>

              <!-- 予約 -->
              <td class="text-primary booking" (click)="onClickBookingMenu($event)"
                  *ngIf="showBookingListButton(channel?.administration_name, i)"
              >
                <app-booking-menu
                  [stories]="getBookingStoriesToShow(channel?.administration_name, i)"
                  [channel_name]="channel?.administration_name"
                  [index]="i"
                ></app-booking-menu>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- 取得中表示 -->
        <div class="loading active" *ngIf="!is_active || organization_list.length === 0">
          <div class="loading_animation">
            <div class="card-block">
              <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
              </div>
            </div>
            <div class="card-header">
              取得中
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button class="btn btn-primary save-button btn-ladda" data-style="contract-overlay"
        style="z-index: 10;" (click)="save();" [ladda]='is_saving'>保存</button>

<app-toaster></app-toaster>
