<div bsModal
     #siteSelectModal="bs-modal"
     class="modal fade" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="false"
     [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">サイトを選択してください。</h4>
      </div>
      <div class="modal-body row">
        <div class="col-sm-4 col-md-3" *ngFor="let site of sites">
          <div class="card card-outline-primary">
            <div class="card-block" (click)="siteSelected(site);">
              {{site?.name}}
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
