<button
  type="button"
  id="open_modal_button"
  class="btn btn-info"
  data-toggle="modal"
  (click)="searchConditionModal.show(); refreshChannelCondition();"
>
  <i class="fa fa-search fa-2x" data-toggle="modal" data-target="#search_condition_modal"></i>
</button>

<div bsModal
     #searchConditionModal="bs-modal"
     class="modal fade" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">検索条件</h4>
        <button type="button" class="close" (click)="searchConditionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-12">
        <form>
          <!-- channel -->
          <div>
            <app-channel-select-tree-view [label]="labels.channel[0]"></app-channel-select-tree-view>
          </div>
          <div *ngFor="let label of labels.name" class="form-group col-12 row">
            <!-- text -->
            <label for="input-{{label.name}}" class="col-2 col-form-label">{{label.label}}</label>
            <div class="col-10">
              <input
                [(ngModel)]="input[label.name]"
                id="input-{{label.name}}"
                class="form-control"
                name="{{label.name}}"
                type="text"
                placeholder="{{label.placeholder}}"
              >
            </div>
          </div>
          <!--datetime picker-->
          <div class="row col-12">
            <div *ngFor="let label of labels.datetime" class="form-group col-6">
              <app-datetime-picker [label]="label"></app-datetime-picker>
            </div>
          </div>
          <!-- selectbox -->
          <div class="row col-12">
            <div *ngFor="let label of labels.select" class="form-group col-6">
              <app-selectbox [label]="label"></app-selectbox>
            </div>
          </div>
          <!-- tag -->
          <div>
            <app-tag-select-tree-view [label]="labels.tag[0]"></app-tag-select-tree-view>
          </div>
          <!-- checkbox -->
          <div class="row col-12">
            <div *ngFor="let label of labels.checkbox" class="form-group col-4">
              <md-checkbox
                [(ngModel)]="input[label.name]"
                id="input-{{label.name}}"
                color="primary"
                name="{{label.name}}"
              >{{label.label}}
              </md-checkbox>
            </div>
          </div>
          <!-- 並び順 -->
          <div class="row col-12">
            <div class="col-4">並び順</div>
            <div class="col-8 row">
              <div class="col-12">
                <md-radio-group
                  [(ngModel)]="input['sort']"
                  name="sort"
                  class="form-group row">
                  <md-radio-button
                    *ngFor="let label of labels.sort"
                    checked=""
                    id="input-{{label.name}}"
                    class="checkbox col-6"
                    value="{{label.name}}"
                  >
                    {{label.label}}
                  </md-radio-button>
                </md-radio-group>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="float-left">
          <button type="button" class="btn btn-success" (click)="searchConditionModal.hide()">この検索結果でCSVをダウンロードする</button>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-outline-primary" (click)="clear()">リセット</button>
          <button type="button" class="btn btn-secondary" (click)="searchConditionModal.hide(); cancel()">キャンセル</button>
          <button type="button" class="btn btn-primary" (click)="searchConditionModal.hide(); runSearch()">検索</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
