#open_modal_button{
  margin: 5px 0;
}

input{
  height:25px;
  font-size: 12px;
  color: #374767;
}

input:focus{
  color: #374767;
}

label{
  line-height:25px;
  font-size: 12px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.form-group.datetime{
  padding: 0;
}

.padding{
  height: 25px;
  color: white;
}

.checkbox{
  height:25px;
  margin: 0;
  font-size: 12px;
}

.checkbox-label input{
  margin-top: -1px;
}

.form-group {
  margin-bottom: 5px;
}

.sort-radio-container{
  font-size: 14px;
}

.modal-footer{
  display: block !important;
}

app-channel-select-tree-view{
  width:100%;
}

