<ul class="list-inline">
  <!-- チャネル -->
  <li *ngFor="let label of labels.channel" class="list-inline-item">
    <span *ngIf="inputs[label.name] && inputs[label.name] != ''" class="badge badge-default channel">
      {{label.label}}
      <a *ngFor="let channel of channels">
         : {{channel}}
      </a>
    </span>
  </li>
  <!-- テキスト -->
  <li *ngFor="let label of labels.text" class="list-inline-item">
    <span *ngIf="inputs[label.name] && inputs[label.name] != ''" class="badge badge-default">
      {{label.label}} : {{inputs[label.name]}}
    </span>
  </li>
  <!-- 時間 -->
  <li *ngFor="let label of labels.datetime" class="list-inline-item">
    <span *ngIf="inputs[label.name] && inputs[label.name] != ''" class="badge badge-default">
      {{label.label}} : 〜{{inputs[label.name]}}
    </span>
  </li>
  <!-- セレクトボックス -->
  <li *ngFor="let label of labels.select" class="list-inline-item">
    <span *ngIf="inputs[label.name] && inputs[label.name] != ''" class="badge badge-default">
      {{label.label}} : {{inputs[label.name]}}
    </span>
  </li>
  <!-- タグ -->
  <li *ngFor="let label of labels.tag" class="list-inline-item">
    <div *ngIf="inputs[label.name] && inputs[label.name] != ''" class="badge badge-default tag">
      {{label.label}}
      <a *ngFor="let tag of tags">
         : {{tag}}
      </a>
    </div>
  </li>
  <!-- チェックボックス -->
  <li *ngFor="let label of labels.checkbox" class="list-inline-item">
    <span *ngIf="inputs[label.name] && inputs[label.name] != ''" class="badge badge-default">
      {{label.label}}
    </span>
  </li>
  <!-- 並び順 -->
  <li class="list-inline-item">
    <span class="badge badge-default">
      並び順 : {{getSortLabel()}}
    </span>
  </li>
</ul>
